.btnCreateDocument {
    margin: 10px 0;
}

.headingWrapper {
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: space-between;
    // background: linear-gradient(90deg, rgb(239, 240, 241) 0%, rgb(255, 255, 255) 50%, rgb(239, 240, 241) 100%);
    padding: 20px 0px;
    // margin-top: 116px;
    margin-bottom: 44px;
    border-radius: 10px;
    box-shadow: rgba(121, 121, 121, 0.3) 0px 7px 29px 0px;

    .headingIcon {
        color: rgb(109, 114, 114);
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 12px;
    }

    .headingTitle {
        display: flex;
        margin-top: -10px;
        margin-left: 16px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        .title {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            margin-top: 11px;

            .nameCategory{
                margin-left: 4px;
                color: #0b4faf;
            }
        }
    }

    .headingOpption {
        margin-top: 5px;

        .addText {
            margin-top: -5px !important;
            margin-right: 40px;
            color: #1677ff;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .headingSelectSort {
            width: 120px;
            height: 40px;
            margin-right: 30px;
            top: -2px;
        }
    }
}

.actionWrap {
    justify-content: center;
    text-align: center;
    margin: 14px auto;
    display: flex;
    .actionIconEdit {
      color: blue;
      font-size: 20px;
      margin-right: 8px;
    }

    .actionIconDelete {
      color: red;
      font-size: 20px;
      margin-left: 8px;

    }
  }

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    // Thêm các styles mới
    .newDocumentWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; // (Tùy chọn) Để căn giữa nếu nội dung có chiều dài thay đổi
        margin-bottom: 70px; // (Tùy chọn) Để tạo khoảng cách dưới element
    }

    .titleNewDocument {
        font-size: 26px;
        font-weight: bold;
        color: #125797;
        margin-bottom: 10px; // (Tùy chọn) Để tạo khoảng cách giữa title và nội dung khác
        border: dotted 1px;
        padding: 10px;
    }

    .cardItem {
        box-shadow: rgba(100, 100, 109, 0.3) 0px 7px 29px 0px;
        background: linear-gradient(90deg, rgb(253, 255, 238) 0%, rgb(255, 255, 255) 50%, rgb(253, 255, 238) 100%);



        &:hover {
            transform: scale(1.04);
            transition: transform 0.4s ease-in-out;
            -webkit-transform: scale(1.04);
            -moz-transform: scale(1.04);
            -o-transform: scale(1.04);
            -ms-transform: scale(1.04);
        }

        &:not(:hover) {
            transform: scale(1);
            transition: transform 0.6s ease-in-out;
        }

    }

    .itemCard {


        .iconOriginCard {
            color: #0f2f7f;
        }

        .textOriginCard {
            color: #0f2f7f;
            font-size: 14px;


        }

        .infoOriginCard {
            color: #6d7272;
            font-size: 14px;
        }
    }

}

.nameDocumentCard {
    color: #0f2f7f;
    font-size: 20px;
    font-weight: 700;

    &:hover {
        opacity: 0.8;
        color: #0f2f7f;
    }
}
.textUpdating {
    font-size: 12px;
    color: gray;
    font-style: italic;
  }
// Màn hình máy tính
@media (min-width: 1440px) {}

//Màn hình tablet
@media (max-width: 768px) {
  .rowContainer {
    margin-left: 12%;
    margin-right: -40px;
  }
}

@media (min-width: 577px) and (max-width: 1440px) {
  .rowContainer {
    margin-left: 12%;
    margin-right: -40px;

  }
}

//Màn hình điện thoại
@media (min-width: 375px) and(max-width: 576px) {
  .rowContainer {
    margin-left: 8%;
  }

}