// variables
@import "../../styles/variables.scss";

.spinnerWrapper {
  transform: translateY(1px);
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

.white .path {
  animation:
    dash $duration ease-in-out infinite, 
    colors2 ($duration*4) ease-in-out infinite !important;
}

@keyframes colors {
	0% { stroke: #0f2f7f; }
	25% { stroke: #0f2f7f; }
	50% { stroke: #0f2f7f; }
	75% { stroke: #0f2f7f; }
  100% { stroke: #0f2f7f; }
}

@keyframes colors2 {
	0% { stroke: #fff; }
	25% { stroke: #fff; }
	50% { stroke: #fff; }
	75% { stroke: #fff; }
  100% { stroke: #fff; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}