.noDataWrapper {
    // background: #000;
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
    height: calc( 100vh - 677px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;  /* Thêm thuộc tính này để giữ Empty ở giữa theo chiều dọc */
}